@import "bootstrap.scss";
body{
margin-top:0px;
margin:0 auto;
/*background-image:url(fon.webp);
background-repeat:no-repeat;
background-size: 100%;*/
}
.Fon img{
  width: 100%;
  
}
.name p{
    width: 70%;
    margin: 0 0 auto;
    font: 500% sans-serif;
    color: #0FCCFF;
}
.center{
    display: table-cell;
   vertical-align: middle;
   text-align: center;
   
   height: 100px;
}

h3{
text-align:center;
}
#middle{
background-color: #e7e7e7;
border-radius: 1%;
}

#text {
    /*border: 1px solid red;*/
    height: 20em;
    padding: 2px;
    overflow: hidden 
}
#img{
    margin-top: 1%;
float: left    
}

.text {
transition-duration: 1s;
  height: 100px;
  overflow: hidden;
  padding: 5px 10px;
  font-size: 14px;
}
.text:hover {
    
  height: auto;
transition-duration: 1s;/*
  cursor: pointer;
  outline: none;
  overflow: hidden;
*/
    
}